@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* general */

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    padding-top: 20px;
}

section {
    padding-top: 80px;
}

.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* components */

button a {
    color: #fff;
}

.btn a:hover, .btn a:focus {
    color: #95e3899c;
    text-decoration: none;
}

#btn:hover, #btn:focus {
    color: #95e3899c;
}

#button:hover, #button:focus {
    color: #95e3899c;
}

a:hover, a:focus {
    color: #83c17b;
    text-decoration: none;
}

form {
    padding: 20px;
}

.image {
    width: 100%;
    position: top;
}

.header {
    padding: 20px 0 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #83c17b80;
}

.btn {
    padding: 5px 10px;
    margin: 10px 0 10px 0;
}

.edit {
    background-color: #3f7a90;
}

.delete {
    background-color: #b94b32;
    color: #fff;
}

.banner {
    background-color: #9ec799;
    border-radius: 2px;
    padding: 15px 15px 8px 15px;
}

/* nav */

#navbar {
    background-color: #62985b;
    margin-bottom: 30px;
}

.nav {
    max-width: 1320px;
}

#nav-list li a {
    color: #fff;
}

a.nav-link:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #ffffff;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}
a.nav-link:hover:after {
    width: 100%;
}

.active {
    font-weight: 600;
}

#navbar-brand {
    font-size: 35px;
    color: #fff;
    padding-left: 20px;
}

.nav-link {
    color: #fff;
}

.navbar-collapse {
    text-align: center;
}

.logo {
    height: 40px;
    margin: auto, 20px, 0, 10px;
}

/* footer */

footer {
    background-color: #62985b;
    margin-top: 50px;
    color: #fff;
    font-weight: 300;
}
#footer-brand {
    font-size: 35px;
    color: #fff;
    padding-left: 20px;
}

footer a {
    color: #fff;
}

/* all plants */

.icon {
    padding: 5px;
}

.features {
    padding-left: 10px;
    padding-top: 20px;
    text-align: center;
}

.card-feature {
    border: 1px solid #83c17B;
    border-radius: 15px;
    padding: 7px 10px 7px 10px;
    margin: 0 7px 7px 0;
}

.features li {
    background-color: #83c17B;
    color: #000;
    border-radius: 15px;
    padding: 7px 10px 7px 10px;
    margin: 0 7px 7px 0;
    display: inline-block;
}

.plant-search {
    width: 70%;
}

/* profile */

.profile {
    min-height: 67vh;
}
.no-plants {
    padding-bottom: 0px;
}

/* error page */

.error-img {
    max-width: 300px;
    padding-top: 30px;
}