{% extends "base.html" %}
{% set active_page = "edit" %}
{% block content %}

    <h1 class="header text-center">Edit Plant</h1>

    <form method="POST" action="{{ url_for('edit', plant_id=plant._id) }}">
        <!-- plant name -->
        <div class="mb-3">
            <label for="name" class="form-label">Plant Name</label>
            <input type="text" class="form-control" id="name" name="name" minlength="3" maxlength="30" value="{{ plant.name }}" placeholder="Commonly known name" required>
        </div>
        <!-- botanical name -->
        <div class="mb-3">
            <label for="botanical_name" class="form-label">Botanical Name</label>
            <input type="text" class="form-control" id="botanical_name" name="botanical_name" minlength="3" maxlength="20" value="{{ plant.botanical_name }}" placeholder="Botanical name">
        </div>
        <!-- description -->
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="4" name="description" minlength="5" maxlength="200" placeholder="Describe the plant including any distinctive traits or the plant's origin" required>
                {{- plant.description -}}
            </textarea>
        </div>
        <!-- watering schedule -->
        <div class="mb-3">
            <label for="watering" class="form-label">Watering schedule</label>
            <select class="form-select" id="watering" name="watering" aria-label="Select watering schedule" required>
                {% if plant.watering == '7 days' %}
                    <option value=""></option>
                    <option value="7" selected>Every 7 days</option>
                    <option value="7-10">7 - 10 days</option>
                    <option value="10-14">10 - 14 days</option>
                {% elif plant.watering == '7 - 10 days' %}
                    <option value=""></option>
                    <option value="7">Every 7 days</option>
                    <option value="7-10" selected>7 - 10 days</option>
                    <option value="10-14">10 - 14 days</option>
                {% else %}
                    <option value=""></option>
                    <option value="7">Every 7 days</option>
                    <option value="7-10">7 - 10 days</option>
                    <option value="10-14" selected>10 - 14 days</option>
                {% endif %}
            </select>
        </div>
        <!-- plant size -->
        <div class="mb-3">
            <label for="size" class="form-label">Size of plant</label>
            <select class="form-select" id="size" name="size" aria-label="Select plant size" required>
                {% if plant.size == 'Small' %}
                    <option value=""></option>
                    <option value="Small" selected>Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                {% elif plant.size == 'Medium' %}
                    <option value=""></option>
                    <option value="Small">Small</option>
                    <option value="Medium" selected>Medium</option>
                    <option value="Large">Large</option>
                {% elif plant.size == 'Large' %}
                    <option value=""></option>
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large" selected>Large</option>
                {% endif %}
            </select>
        </div>
        <!-- light needed -->
        <div class="mb-3">
            {% if plant.light_needed == 'Shade' %}
                <label for="light-needed" class="form-label">Amount of light needed: </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="light_needed" id="shade" value="Shade" checked>
                    <label class="form-check-label" for="shade"><i class="fas fa-cloud"></i> Shade</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="light_needed" id="light+shade" value="Light and Shade">
                    <label class="form-check-label" for="light+shade"><i class="fas fa-cloud-sun"></i> Light & Shade</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="light_needed" id="sunlight" value="Direct Sunlight">
                    <label class="form-check-label" for="sunlight"><i class="fas fa-sun"></i> Direct Sunlight</label>
                </div> 
            {% elif plant.light_needed == 'Light and Shade' %}
               <label for="light-needed" class="form-label">Amount of light needed: </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="light_needed" id="shade" value="Shade">
                    <label class="form-check-label" for="shade"><i class="fas fa-cloud"></i> Shade</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="light_needed" id="light+shade" value="Light and Shade" checked>
                    <label class="form-check-label" for="light+shade"><i class="fas fa-cloud-sun"></i> Light & Shade</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="light_needed" id="sunlight" value="Direct Sunlight">
                    <label class="form-check-label" for="sunlight"><i class="fas fa-sun"></i> Direct Sunlight</label>
                </div> 
            {% elif plant.light_needed == 'Direct Sunlight' %}
                <label for="light-needed" class="form-label">Amount of light needed: </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="light_needed" id="shade" value="Shade">
                    <label class="form-check-label" for="shade"><i class="fas fa-cloud"></i> Shade</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="light_needed" id="light+shade" value="Light and Shade">
                    <label class="form-check-label" for="light+shade"><i class="fas fa-cloud-sun"></i> Light & Shade</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="light_needed" id="sunlight" value="Direct Sunlight" checked>
                    <label class="form-check-label" for="sunlight"><i class="fas fa-sun"></i> Direct Sunlight</label>
                </div>
            {% endif %}
        </div>
        <!-- room -->
        <div class="mb-3">
            {% if plant.room == 'Bathroom' %}
                <label for="light-needed" class="form-label">Best room: </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="bathroom" value="Bathroom" checked>
                    <label class="form-check-label" for="bathroom"><i class="fas fa-bath"></i> Bathroom</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="bedroom" value="Bedroom">
                    <label class="form-check-label" for="bedroom"><i class="fas fa-bed"></i> Bedroom</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="living-room" value="Living Room">
                    <label class="form-check-label" for="living-room"><i class="fas fa-couch"></i> Living Room</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="study" value="Study">
                    <label class="form-check-label" for="study"><i class="fas fa-desktop"></i> Study</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="kitchen" value="Kitchen">
                    <label class="form-check-label" for="kitchen"><i class="fas fa-utensils"></i> Kitchen</label>
                </div>
            {% elif plant.room == 'Bedroom' %}
                <label for="light-needed" class="form-label">Best room: </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="bathroom" value="Bathroom">
                    <label class="form-check-label" for="bathroom"><i class="fas fa-bath"></i> Bathroom</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="bedroom" value="Bedroom" checked>
                    <label class="form-check-label" for="bedroom"><i class="fas fa-bed"></i> Bedroom</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="living-room" value="Living Room">
                    <label class="form-check-label" for="living-room"><i class="fas fa-couch"></i> Living Room</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="study" value="Study">
                    <label class="form-check-label" for="study"><i class="fas fa-desktop"></i> Study</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="kitchen" value="Kitchen">
                    <label class="form-check-label" for="kitchen"><i class="fas fa-utensils"></i> Kitchen</label>
                </div>
            {% elif plant.room == 'Living Room' %}
                <label for="light-needed" class="form-label">Best room: </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="bathroom" value="Bathroom">
                    <label class="form-check-label" for="bathroom"><i class="fas fa-bath"></i> Bathroom</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="bedroom" value="Bedroom">
                    <label class="form-check-label" for="bedroom"><i class="fas fa-bed"></i> Bedroom</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="living-room" value="Living Room" checked>
                    <label class="form-check-label" for="living-room"><i class="fas fa-couch"></i> Living Room</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="study" value="Study">
                    <label class="form-check-label" for="study"><i class="fas fa-desktop"></i> Study</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="kitchen" value="Kitchen">
                    <label class="form-check-label" for="kitchen"><i class="fas fa-utensils"></i> Kitchen</label>
                </div>
            {% elif plant.room == 'Study' %}
                <label for="light-needed" class="form-label">Best room: </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="bathroom" value="Bathroom">
                    <label class="form-check-label" for="bathroom"><i class="fas fa-bath"></i> Bathroom</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="bedroom" value="Bedroom">
                    <label class="form-check-label" for="bedroom"><i class="fas fa-bed"></i> Bedroom</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="living-room" value="Living Room">
                    <label class="form-check-label" for="living-room"><i class="fas fa-couch"></i> Living Room</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="study" value="Study" checked>
                    <label class="form-check-label" for="study"><i class="fas fa-desktop"></i> Study</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="kitchen" value="Kitchen">
                    <label class="form-check-label" for="kitchen"><i class="fas fa-utensils"></i> Kitchen</label>
                </div>
            {% elif plant.room == 'Kitchen' %}
                <label for="light-needed" class="form-label">Best room: </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="bathroom" value="Bathroom">
                    <label class="form-check-label" for="bathroom"><i class="fas fa-bath"></i> Bathroom</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="bedroom" value="Bedroom">
                    <label class="form-check-label" for="bedroom"><i class="fas fa-bed"></i> Bedroom</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="living-room" value="Living Room">
                    <label class="form-check-label" for="living-room"><i class="fas fa-couch"></i> Living Room</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="study" value="Study">
                    <label class="form-check-label" for="study"><i class="fas fa-desktop"></i> Study</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="room" id="kitchen" value="Kitchen" checked>
                    <label class="form-check-label" for="kitchen"><i class="fas fa-utensils"></i> Kitchen</label>
                </div>
            {% endif %}
        </div>
        <!-- plant image url -->
        <div class="mb-3">
            <label for="img_url" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="img_url" name="img_url" value="{{ plant.img_url }}" placeholder="https://..." pattern="http.+" title="Must include the 'http://' at the start" required>
        </div>
        <!-- submit button -->
        <div class="mb-3 text-center">
            <a href="{{ url_for('plants') }}" class="btn btn-dark">Cancel</a>
            <button type="submit" id="button" class="btn btn-dark">Save</button>
        </div>
    </form>


{% endblock %}