{% extends "base.html" %}
{% block content %}

    <h1 class="header text-center">All Plants</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for plant in plants %}
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="{{ plant.img_url }}" class="card-img-top" alt="Plant photo" onerror="this.onerror=null;this.src='/static/img/plantdefault.jpg';">
                    <div class="card-body">
                        <h4 class="card-title">{{ plant.name }}</h4>
                        <p class="card-text">{{ plant.botanical_name }}<br></p>
                        <h6>{{ plant.size }} sized plant</h6>
                        <p>{{ plant.description }}</p>
                        <h6>This plant likes to be watered every {{ plant.watering }}</h6>
                        <ul class="features">
                            {% if plant.room %}
                                <li>
                                    Best in the {{ plant.room }} 
                                    {% if plant.room == 'Bathroom' %}
                                        <i class="fas fa-bath fa-lg icon"></i>
                                    {% elif plant.room == 'Bedroom' %}
                                        <i class="fas fa-bed fa-lg icon"></i>
                                    {% elif plant.room == 'Living Room' %}
                                        <i class="fas fa-couch fa-lg icon"></i>
                                    {% elif plant.room == 'Study' %}
                                        <i class="fas fa-desktop fa-lg icon"></i>
                                    {% else %}
                                        <i class="fas fa-utensils fa-lg icon"></i>
                                    {% endif %}
                                </li>
                            {% endif %}
                            {% if plant.light_needed %}
                                <li>
                                    Likes {{ plant.light_needed }}
                                    {% if plant.light_needed == 'Shade' %}
                                        <i class="fas fa-cloud fa-lg icon"></i>
                                    {% elif plant.light_needed == 'Direct Sunlight' %}
                                        <i class="fas fa-cloud-sun fa-lg icon"></i>
                                    {% else %}
                                        <i class="fas fa-sun fa-lg icon"></i>
                                    {% endif %}
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-footer">
                        <p><small class="text-muted"> <em>Created by: {{ plant.created_by }}</em></small></p>
                        <button class="btn btn-sm edit" type="button"><a href="#">Edit</a></button>
                        <button class="btn btn-sm delete" type="button"><a href="#">Delete</a></button>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}