{% extends "base.html" %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-4">
            <img class="image" src="{{ url_for('static', filename='img/img3.jpg') }}" alt="Photo of plants">
        </div>
        <div class="col-8 my-auto">
            <h1 class="header text-center">{{ username.capitalize() }}'s Pad Plants Profile <i class="fas fa-seedling"></i></h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center">
            <h4>Your Plants</h4>
        </div>
        <div class="col-12 text-center">
            <p>(display plants added by user, or button if none CHANGE URL ON BUTTON)</p>
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-dark" type="button"><a href="{{ url_for('get_plants') }}">Add Plant</a></button>
        </div>
    </div>

{% endblock %}